@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard-Bold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
    font-weight: 700;
    font-style: normal;
}


header {
    font-size: 32px;
    color: #000000;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: 100;
    height:104px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}
header h1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    margin: auto;
}
header div.profile {
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-items: center;
}
header div.arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
body {
    width: 100vw;
    height: 100%;
    background-color: #f4f5f7;
    font-family: "Pretendard-Regular", sans-serif;
    box-sizing: border-box;
}
.bold{
    font-family: "Pretendard-Bold", sans-serif;;
    box-sizing: border-box;
}
.wrap {
    width: 100%;
    min-height: 100vh;
    padding-top: 142px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f4f5f7;
}
.wrap.bold {
    font-weight: bold;
}
.wrap .div{
    background-color: #36278b;
}
.wrap h1{
    font-size: 32px;
    font-weight: 700;
    align-content: center;
}
.container {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 361px;
    height: 37px;
    background-color: #aca0eb;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 4px;
    border: none;
    font-size: 14px;
    color: #fff;
}
.buttons a {
    font-weight: 400;
    align-content:center ;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.inputBox {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
    margin-top: 8px;
    position: relative;
}
.inputBox label {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: #000000;
}

.helperText {
    padding-top: 4px;
    color: #ff0000;
    font-size: 12px;
    font-weight: 400;
}
.inputBox input {
    font-size: 14px;
    color: #000000;
    line-height: 16.7px;
    width: 100%;
}

.inputBox input::placeholder {
    font-size: 14px;
    color: rgba(22, 11, 30, 0.56);
    font-weight: 700;
}
.buttons button:hover {
    background-color: #7f6aee;
}

