main {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    height: auto;
}
.inner {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inner .title {
    width: 280px;
    height: 62px;
    display: flex;

    text-align: center;
    margin-top: 40px;
    line-height:31.2px;
}

.inner .title h1 {
    display: block;
    font-size: 24px;
    font-weight: 400;
}
.inner .title span {
    font-weight: 700;
}
.inner .btnContainer {
     margin: 24px 0;
     width: 100%;
     height: 39px;
     display: flex;
     justify-content: flex-end;
     cursor: pointer;
 }
.inner .btnContainer .btn {
    background-color:#aca0eb;
    width: 138px;
    height: 39px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner .btnContainer .btn:hover {
    background-color: #7f6aee;
}

.inner .btnContainer .btn a {
    color: #fff;
    text-decoration: none;
}

.inner .posts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
    line-height: 34px;
}

.bold {
    font-weight: bold;
}

.inner .posts .box {
    background-color: #ffffff;
    width: 592px;
    height: 169px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding-top: 5px;
    box-sizing: border-box;
    cursor:pointer;
}
.inner .posts .texts {
    width: 544px;
    font-weight: 400;
    font-size: 15px;
    line-height: 21.15px;
}
.inner .titletext {
    width: 592px;
    height: 110px;
    padding: 24px 0 24px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.info {
    font-size: 14px;
    color: #555;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-right: 20px;
}

.author {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-top: 10px;
}

.author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: #ccc; /* 임시 배경색 */
}
#titleText{
    font-family: "Pretendard-Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;

}