.inner .clickBtn {
    width: 100%;
    padding: 8px 0 31px 0;
    display: flex;
    justify-content: center;
    gap: 8px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.inner .clickBtn .views,
.inner .clickBtn .comments {
    width: 116px;
    height: 77px;
    border-radius: 16px;
    border: none;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.inner .clickBtn .count {
    width: 35px;
    height: 26px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner .contents .texts {
    width: 544px;
    font-weight: 400;
    font-size: 15px;
    line-height: 21.15px;
}
.inner .texts {
    width: 544px;
    font-weight: 400;
    font-size: 15px;
    line-height: 21.15px;
}
.minibtns{
    display: flex;
    gap: 8px;
}
.inner .minibtn,
    .inner .comments .right .controlBtns button {
    width: 50px;
    height: 28px;
    background-color: transparent;
    border: 1px solid #aca0eb;
    border-radius: 8px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}
.inner .title .control .controlBtns,
.inner .comments .right .controlBtns {
    display: none;
    width: 128px;
    height: 64px;
    margin-right: 16px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.inner .title .control .controlBtns.active,
.inner .comments .right .controlBtns.active {
    display: flex;
}
.inner .date {
    width: auto;
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner .imgContainer{
    width: 100%;
    height: 306px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}
.inner .imgContainer img {

    max-width: 100%; /* 이미지가 컨테이너 너비를 넘지 않도록 */
    max-height: 100%; /* 이미지가 컨테이너 높이를 넘지 않도록 */
    object-fit: contain; /* 이미지 비율 유지하면서 컨테이너에 맞춤 */
}
.inner .textContainer{
    width: 100%;
    display: flex;
    height: 231px;
    padding: 20px;
}
.inner .textContainer .textContent{
    // 글 아래로
    // 글 오른쪽으로
    // 위로
}
.inner .textarea .comment::placeholder {
    width: 592px;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
}
.inner .makeComment {
    padding: 32px 0 0;
}

.inner .makeComment .box {
    background-color: #fff;
    width: 592px;
    height: 169px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding-top: 24px;
    box-sizing: border-box;
}

.inner .makeComment .box textarea {
    padding: 0 24px 0 24px;
    height: 118px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
}
.inner .makeComment .box textarea::placeholder {
    width: 544px;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
}

.inner .makeComment .box textarea:focus {
    outline: none;
}

.inner .makeComment .btn {
    height: 51px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inner .makeComment .btn button {
    height: 39px;
    width: 138px;
    margin-right: 8px;
    border-radius: 16px;
    border: none;
    background-color: #aca0eb;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.inner .makeComment .btn button:hover {
    background-color: #7f6aee;
}
.inner .makeComment .btn button.active {
    background-color: #e11b1b;

}

.inner .commentsList {
    padding: 24px 0 24px 24px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inner .comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#commentsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.comment-content{
    padding-left:20px;
    font-size: 15px;
}
#authorContent{
    font-family: "Pretendard-Bold", sans-serif;
    font-weight: bold;
}
#likeContainer{
    cursor: pointer;
}